.movies-list__container {
  overflow: scroll;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.movies-list__el {
  height: 380px;
  cursor: pointer;
}
.movies-list__el:hover {
  background-color: rgb(231, 231, 231);
}

.movies-list__img {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 85%;
  border-radius: 10px;
  transition: all 0.1s;
}
.movies-list__img:hover {
  width: 95%;
}
