.movies-list__container {
  overflow: scroll;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.movies-list__el {
  height: 250px;
  cursor: pointer;
  position: relative;
}
.movies-list__el:hover {
  background-color: rgb(231, 231, 231);
}

.movies-list__img {
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.card-content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
}
.card-content:hover {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: rgb(240, 240, 240);
  transition: all 0.5s;
}
